<h1> Articles </h1>
<ul>
<% @articles.each do |article|%>
<li>
    <p><%= article.title%>
   <%= link_to 'show', article_path(article) %></p>
</li>
<% end %>
<% if user_signed_in?%>
<%= link_to 'New Article',new_article_path  %>
<%end %>
</ul>