<h1>Edit User Role </h1>
<%= form_with model: @user, html: { multipart: true } do |form| %>
  <div>
  <%= form.label :role_ids, "User roles" %>
    <%= form.collection_check_boxes(:role_ids, Role.all.order(name: :asc), :id, :name) %>
  </div>
  <%= form.submit data:{turbo:false}%>
<% end %>
